<!--
  #%L
  The AIBench Workbench Plugin
  %%
  Copyright (C) 2006 - 2016 Daniel Glez-Peña and Florentino Fdez-Riverola
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Lesser General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Lesser Public License for more details.
  
  You should have received a copy of the GNU General Lesser Public
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/lgpl-3.0.html>.
  #L%
  -->
<!--
Copyright 2007 Daniel Gonzalez Peña, Florentino Fernandez Riverola


This file is part the AIBench Project. 

AIBench Project is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

AIBench Project is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser Public License for more details.

You should have received a copy of the GNU Lesser Public License
along with AIBench Project.  If not, see <http://www.gnu.org/licenses/>.
-->

<plugin start="false" startOrder="1">
   <uid>aibench.workbench</uid>
   <name>AIBench Workbench</name>
   <version>${version}</version>
   
   <lifecycleclass>es.uvigo.ei.aibench.workbench.Lifecycle</lifecycleclass>
   
   <dependencies>
      <dependency uid="aibench.core"/>
   </dependencies>
   
   <extensions>
      <extension uid="aibench.core" name="aibench.core.gui" class="es.uvigo.ei.aibench.workbench.Workbench"/>
   </extensions>
   
   <extensionpoints>
		<!-- Explain the definition of the GUI -->
		<extensionpoint name="aibench.workbench.view"/>
   </extensionpoints>
</plugin>