<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  The AIBench Plugin Manager Plugin
  %%
  Copyright (C) 2006 - 2017 Daniel Glez-Peña and Florentino Fdez-Riverola
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Lesser General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Lesser Public License for more details.
  
  You should have received a copy of the GNU General Lesser Public
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/lgpl-3.0.html>.
  #L%
  -->
<plugin start="false">
	<uid>aibench.pluginmanager</uid>
	<name>AIBench Plugin Manager</name>
	<version>${version}</version>
	
	<dependencies>
		<dependency uid="aibench.core" />
		<dependency uid="aibench.workbench" />
	</dependencies>

	<extensions>
		<extension uid="aibench.workbench" name="aibench.workbench.view">
			<component slotid="bottom" 
				componentid="aibench.pluginmanager.information" 
				name="Plugin Information" 
				class="es.uvigo.ei.sing.aibench.pluginmanager.gui.PluginInformationComponent"
			/>
		</extension>		
	</extensions>
</plugin>
